body
{
    margin:0;
    padding:0;
    background: url(../images/epic_battle.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
            
.menu-left
{
    background-color: rgba(119, 136, 153, 0.8);
    line-height: 34px;
    color: black;
    margin-left: 0px;
    cursor: pointer;
    border-radius: 4px;
    border: solid 1px lightblue;
    border-bottom: 0px;
}

.menu-left:hover
{
    background-color: rgba(105, 105, 105, 0.9);
    color: white;
    margin-left: 35px;
    font-weight: bold;
}

.res
{
    color: black;
    /*display: -webkit-inline-box;*/
    text-align: center;
    margin-left: 15px;
    margin-top: 75px;
}

.md-br
{
    display: none;
}

@media screen and (min-width: 992px)
{
    .medium-screen
    {
        display: none;
    }

    .small-screen
    {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px)
{
    .md-br
    {
        display: block;
    }

    .large-screen
    {
        display: none;
    }

    .small-screen
    {
        display: none;
    }
}



@media screen and (max-width: 767px)
{
    .center-rect
    {
        width: 364px;
    }

    .menu-left
    {
        margin-right: 0px;
        text-align: left;
    }

    .menu-top
    {
        height: 210px;
    }

    .large-screen
    {
        display: none;
    }

    .medium-screen
    {
        display: none;
    }

    .settings-input
    {
        margin-right: -5px;
        margin-bottom: 5px;
    }

    .settings-button
    {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px)
{
    .center-rect
    {
        width: 487px;
    }

    .menu-left
    {
        width: 150px;
    }

    .menu-top
    {
        height: 200px;
    }

    .settings-input
    {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1200px)
{
    .center-rect
    {
        width: 875px;   
    }

    .menu-left
    {
        width: 150px;
    }

    .menu-top
    {
        height: 200px;
    }

    .settings-input
    {
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.return-button
{
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: cornflowerblue;
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    height: 28px;
    width: 204px;
    margin-left: 1px;
}

.return-button:hover
{
    background-color: royalblue;
    font-weight: bold;
    color: white;
}

.center-rect
{
    background-color: rgba(105, 105, 105, 0.9);
    border: solid 1px lightblue;
    border-radius: 4px;
    text-align: center;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}

.menu-top
{
    margin-top: 20px;
    background-color: rgba(119, 136, 153, 0.8);
    color: black;
    border: solid 1px lightblue;
    border-radius: 4px;
    margin-left: 15px;
    margin-right: 15px;
}

.last-case
{
    border: solid 1px lightblue;
}
            
.icon
{
    text-align: left;
    margin-right: 15px;
}

.icon-red
{
    text-align: left;
    margin-right: 15px;
    color: crimson;
    cursor: pointer;
}

input::placeholder
{
    color: #8C5D53;
    font-style: normal;
    font-stretch: normal;
    font-weight: normal;
    font-variant: normal;
}

.signup-input
{
    margin-top: 25px;
    background-color: tan;
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    height: 28px;
    width: 204px;
}

.signup-select-race
{
    margin-top: 25px;
    background-color: tan;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
    height: 28px;
    width: 204px;
}

.signup-option-race
{
    background-color: white;
    color: black;
}

.signup-button
{
    margin-top: 25px;
    background-color: aquamarine;
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    height: 28px;
    width: 204px;
}

.signup-button:hover
{
    background-color: darkcyan;
    font-weight: bold;
    color: white;
}

.signin-spin
{
    margin-top: 15px;
    width: 50px;
    height: 50px;
}

.signup-footer
{
    background-color: lightgray;
    height: 1px;
}

.signup-conditions
{
    text-align: left;
    color: black;
    font-style: italic;
}

.signup-err-password
{
    color: crimson;
    background-color: lightpink;
    border: 1px solid black;
    border-radius: 4px;
    padding-top: 10px;
}

.signin-rect
{
    background-color: rgba(105, 105, 105, 0.9);
    border: solid 1px lightblue;
    border-radius: 4px;
    text-align: center;
    margin-top: 200px;
    width: 270px;
    margin-left: auto;
    margin-right: auto;
}

.signin-rect-lg
{
    background-color: rgba(105, 105, 105, 0.9);
    border: solid 1px lightblue;
    border-radius: 4px;
    text-align: center;
    margin-top: 200px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.signin-input
{
    margin-top: 25px;
    background-color: tan;
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    height: 28px;
    width: 204px;
    margin-left: 5px;
}

.signin-button
{
    margin-top: 25px;
    background-color: aquamarine;
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    height: 28px;
    width: 204px;
    margin-left: 1px;
}

.signin-button:hover
{
    background-color: darkcyan;
    font-weight: bold;
    color: white;
}

.signin-footer
{
    background-color: lightgray;
    height: 1px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.signin-forgot
{
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: left;
    font-style: italic;
    font-size: 12px;
}

.signin-forgot-link
{
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: -5px;
}

.signin-forgot-link:hover
{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.signin-err-connexion
{
    color: crimson;
    background-color: lightpink;
    border: 1px solid black;
    border-radius: 4px;
    display: none;
    padding-top: 10px;
    width: 204px;
    margin-left: auto;
    margin-right: auto;
}

.center-win
{
    background-color: rgba(119, 136, 153, 0.8);
    line-height: 34px;
    color: black;
    margin-top: 50px;
    border-radius: 4px;
    border: solid 1px lightblue;
    text-align: center;
}

.settings-input
{
    margin-top: 25px;
    background-color: tan;
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    height: 28px;
    width: 204px;
}

.settings-button
{
    margin-top: 26px;
    line-height: 0;
    background-color: aquamarine;
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    height: 28px;
    width: 204px;
}

.settings-button:hover
{
    background-color: darkcyan;
    font-weight: bold;
    color: white;
}

.settings-update-success
{
    color: green;
    background-color: lightgreen;
    border: 1px solid black;
    border-radius: 4px;
    padding-top: 10px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.set-new-password-input
{
    margin-top: 25px;
    background-color: tan;
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    height: 28px;
    width: 261px;
}

.set-new-password-button
{
    margin-top: 25px;
    margin-right: 5px;
    background-color: aquamarine;
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    height: 28px;
    width: 261px;
}

.set-new-password-button:hover
{
    background-color: darkcyan;
    font-weight: bold;
    color: white;
}

.generique-tab
{
    line-height: 34px;
    color: black;
    margin-top: -1px;
    margin-left: -1px;
    cursor: pointer;
    border-radius: 4px;
    border: solid 1px lightblue;
}

.generique-tab:hover
{
    background-color: rgba(105, 105, 105, 0.9);
    color: white;
    font-weight: bold;
}

.generique-tab-active
{
    background-color: cornflowerblue;
    text-decoration: underline;
    line-height: 34px;
    color: black;
    margin-top: -1px;
    margin-left: -1px;
    border-radius: 4px;
    border: solid 1px lightblue;
}

.building-block
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.building
{
    border: solid 1px lightblue;
    border-bottom: 0px;
    border-top: 0px;
}

.building-wip
{
    width: 250px;
    background-color: burlywood;
    color: black;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: solid 1px lightblue;
    width: 250px;
}

.building-button
{
    width: 250px;
    background-color: aquamarine;
    color: black;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: solid 1px lightblue;
    cursor: pointer;
}

.building-button:hover
{
    background-color: darkcyan;
    color: white;
    font-weight: bold;
}

.building-button-impossible
{
    width: 250px;
    background-color: lightpink;
    color: black;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: solid 1px lightblue;
}

.building-button-impossible:hover
{
    background-color: crimson;
    color: white;
    font-weight: bold;
}

.building-name
{
    background-color: rgba(105, 105, 105, 0.9);
    width: 250px;
    color: black;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: solid 1px lightblue;
}

.building-button:hover .building-res-needed
{
    display: block;
}

.building-button-impossible:hover .building-res-needed
{
    display: block;
}

.building-res-needed
{
    text-align: left;
    display: none;
}

.infos-building-wip
{
    color: gold;
}

.prod-div
{
    border: solid 1px lightblue;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color: rgba(105, 105, 105, 0.9);
    margin-top: 15px;
}

.prod-table
{
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 15px 0px;
}

.tech-block
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.tech
{
    border: solid 1px lightblue;
    border-bottom: 0px;
    border-top: 0px;
}

.tech-wip
{
    width: 250px;
    background-color: burlywood;
    color: black;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: solid 1px lightblue;
    width: 250px;
}

.tech-button
{
    width: 250px;
    background-color: aquamarine;
    color: black;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: solid 1px lightblue;
    cursor: pointer;
}

.tech-button:hover
{
    background-color: darkcyan;
    color: white;
    font-weight: bold;
}

.tech-button-impossible
{
    width: 250px;
    background-color: lightpink;
    color: black;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: solid 1px lightblue;
}

.tech-button-impossible:hover
{
    background-color: crimson;
    color: white;
    font-weight: bold;
}

.tech-name
{
    background-color: rgba(105, 105, 105, 0.9);
    width: 250px;
    color: black;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: solid 1px lightblue;
}

.tech-button:hover .tech-res-needed
{
    display: block;
}

.tech-button-impossible:hover .tech-res-needed
{
    display: block;
}

.tech-res-needed
{
    text-align: left;
    display: none;
}

.waiting-list
{
    border: solid 1px lightblue;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    background-color: rgba(105, 105, 105, 0.9);
    margin-top: 25px;
    text-align: left;
}

.forge-input
{
    margin-top: 25px;
    background-color: tan;
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    height: 32px;
    width: 204px;
}

.forge-button
{
    margin-top: 26px;
    line-height: 0;
    background-color: aquamarine;
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    height: 32px;
    width: 204px;
}

.forge-button:hover
{
    background-color: darkcyan;
    font-weight: bold;
    color: white;
}

.forge-ressources
{
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: rgba(105, 105, 105, 0.9);
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    height: 32px;
    width: 204px;
}

.forge-item
{
    text-align: center;
    background-color: floralwhite;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 20px;
    height: 32px;
}

.forge-image
{
    height: 15px;
    width: 15px;
}