body
{
    background-image: url(file:///C:/Users/Propri%C3%A9taire/test/site/images/epic_battle.jpg);
}
            
.menu-left
{
    background-color: rgba(119, 136, 153, 0.8);
    line-height: 34px;
    color: black;
    margin-left: 15px;
    width: 150px;
    cursor: pointer;
    border-radius: 4px;
    border: solid 1px lightblue;
    border-bottom: 0px;
}

.res
{
    color: black;
    text-align: center;
}

.menu-left:hover
{
    background-color: rgba(105, 105, 105, 0.9);
    color: white;
    margin-left: 35px;
    font-weight: bold;
}

.menu-top
{
    margin-top: 20px;
    background-color: rgba(119, 136, 153, 0.8);
    color: black;
    border: solid 1px lightblue;
    border-radius: 4px;
    height: 200px;
}

.center-rect
{
    background-color: rgba(105, 105, 105, 0.9);
    border: solid 1px lightblue;
    border-radius: 4px;
    text-align: center;
    margin-top: 75px;
}

.last-case
{
    border: solid 1px lightblue;
}
            
.icon
{
    text-align: left;
    margin-right: 15px;
}

.signup-input
{
    margin-top: 25px;
    background-color: tan;
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
}

.signup-button
{
    margin-top: 25px;
    background-color: aquamarine;
    color: black;
    text-align: center;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    height: 28px;
    width: 204px;
}

.signup-button:hover
{
    background-color: darkcyan;
    font-weight: bold;
    color: white;
}

.signup-footer
{
    background-color: lightgray;
    height: 1px;
}

.signup-conditions
{
    text-align: left;
    color: black;
    font-style: italic;
}